.name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.name{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 9.5rem;
    letter-spacing: 0.095em;
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #ff512f, #f09819); 
    background: linear-gradient(to right, #ff512f, #f09819); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
}

.info{
    font-family: 'Roboto Mono', monospace; 
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 3.3rem;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: capitalize;
    margin-bottom: 4rem;
}

.btn-container{
    display: flex;
    width: 48rem;
    justify-content: space-around;
}

.btn{
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    background-color: var(--bg-color);
    padding:1rem;
    border-radius: 5px;
    color: var(--text-color);
    width: 19.4rem;
    cursor: pointer;
}

.btn-contact{
    border: 2px solid #CB7A04
}