.project-page{
    width: 120rem;
    margin: 0 auto;
}
.project-page h1{
    margin: 2rem 0;
    font-size: 2.4rem;
}


.project-image img{
    width: 47rem;
    height: 32rem;
}

.project-container{
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding-bottom: 6rem;
}


.project{
    width: 100%;
    display: flex;
    gap: 5rem;
}

.project-text{
    width: 100%;
}

.project-text-title{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;  
    margin-bottom: 1.5rem;
}

.project-text-detail{
    font-size: 2.4rem;
    line-height: 2.9rem; 
}

.project-text-tags{
    font-weight: bold;
    font-size: 1rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;
}

.project-text-tags span{
    width: 8rem;
    background: #F09819;
    border-radius: 2rem;
    padding: 8px;
    margin-right: 1rem;
}

.project-text-show{
    font-size: 2.4rem;
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
}

.project-text-demo,
.project-text-code{
    display: flex;
    gap: 1rem;
}